body{
	display: block;
	position: absolute;
	width: 100%;

}
.nav-wrapper{
	min-height: 65px;
	top: 50px;
	width: 100%;

}
#custom-menu ul,
#mobile-menu ul{
		list-style-type: none;
}

#custom-menu.nav_bar{
	width: 100%;
	/*background-color: rgba(255,241,206,1);*/
}
#custom-menu.menu_bar{
	width: 500px;
}
#custom-menu.nav_bar.affix{
	width: 100%;
	top: 0;
	/*background: rgba(255,241,206,.8);*/
}
#custom-menu ul > a,
#menu_wrapper a{
	text-decoration:  none;

}
#custom-menu.nav_bar > span.hamburger{
	height: 0px;
	visibility: collapse;
	z-index: 21;
}
#custom-menu.nav_bar > span.hamburger > i.fa-bars{
	font-size: 0px;
	padding: 0;
	color: #307CB9;
	transition: .4s;
	visibility: collapse;
}
#custom-menu.nav_bar > span.hamburger:hover >  i.fa-bars{
	color: #6C96B7;
}
#custom-menu.nav_bar.affix {
      top: 0;
      width: 100%;
      z-index: 10;
}
#custom-menu ul.nav_items{
	grid-area: none;
	list-style-type: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: minmax(0, auto);
	margin: 0 auto;
	align-items: stretch;
	height: 65px;
	width: auto;
}
#custom-menu ul.nav_items > li > a{
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color: Black;
	height: 65px;
}

#custom-menu ul.nav_items li.nav_item{
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;
}
#custom-menu ul.nav_items li.nav_item a{
	grid-column: 1;
	padding: 10px 0 19px;
	transition: .5s;
}
#custom-menu ul.nav_items li.nav_item > a:hover{
	background-color: rgba(232,131,64,.8);
}
#custom-menu ul.nav_items li.nav_item >a{

}
#custom-menu ul.nav_items li.nav_item{
  background: rgba(255,241,206,1);
}
#custom-menu.affix ul.nav_items li.nav_item{
  background: rgba(255,241,206,.8);
}
#custom-menu ul.nav_items li.nav_item:hover{
  background: linear-gradient(to top, rgba(255,241,206,1) 80%, rgba(0,128,129,1) 100%);
}
#custom-menu.affix ul.nav_items li.nav_item:hover{
  background: linear-gradient(to top, rgba(255,241,206,.8) 80%, rgba(0,128,129,.8) 100%);
}
#custom-menu ul.nav_items li.nav_item:hover{

	overflow: visible;
}
#custom-menu.affix ul.nav_items li.nav_item > a{

	color: Black;
}
#custom-menu.affix ul.nav_items li.nav_item:hover > a{

	color: #666;
	font-weight: bold;
}
#custom-menu ul.nav_items li.nav_item ul.nav_dropdown{
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit);
	height: auto;
	margin: 0;
	width: 100%;
	z-index: 20;
	background-color: rgba(255,241,206,.8);
	border: 1px solid  rgba(255,241,206,1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
	visibility: collapse;
}
#custom-menu ul.nav_items li.nav_item:hover ul.nav_dropdown{
	visibility: visible;
}
#custom-menu ul.nav_items li.nav_item ul.nav_dropdown > li{
	height: 30px;
	background-color: rgba(232,131,64,.0);
	overflow: hidden;
	transition: none;
}
#custom-menu ul.nav_items li.nav_item ul.nav_dropdown > li:hover{
	background-color: rgba(232,131,64,.8);
	transition: .3s;
}
#custom-menu ul.nav_items li.nav_item ul.nav_dropdown > li > a{
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}
#custom-menu ul.nav_items li.nav_item ul.nav_dropdown > li:hover > a{
	color: #333;
}


#menu_wrapper{
	display: block;
	background-color: #132e44;

	height: 100%;
	width: 400px;
	left: -400px;
	transition: .4s;
	z-index: 21;
	float: left;
	position: fixed;
	overflow: hidden;
	visibility: hidden;
}
#menu_wrapper li.menu_item,
#menu_wrapper li ul li{
	z-index: 19;

}
#menu_wrapper li a,
#menu_wrapper li i{
	z-index: 42;
	color: #E88340;
	border-bottom: 1px solid #307CB9;
}
#menu_wrapper li a.backButton{
	border-bottom: 1px solid #E88340;
}
#custom-menu.nav_bar > span.hamburger.toggled i.fa-bars{
	margin-left: 400px;
	color: #E88340;
}
#menu_wrapper.toggled{
	left: 0px;
	box-shadow: 1px 0px 115px 2px rgba(0,0,0,0.75);
}
#menu_wrapper .menu_bar > div{
	position: absolute;
	left: 0px;
	top: 80px;
	display: block;
	width: 800px;
	padding-left: 30px;
	transition: .4s;
}
#menu_wrapper .menu_bar > div > ul.menu_items{
	position: absolute;
	left: 0px;
	top: 0px;
	display: grid;
	width: 400px;
	padding-left: 30px;
	transition: .4s;
	grid-template-columns: "mainLink";
	grid-template-rows: repeat(auto-fit, 80px);

}
#menu_wrapper .menu_bar > div.sub_menu{
	left: -401px;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li{
	grid-column: mainLink;
	height: 80px;
	display: grid;
	overflow:visible;
	width: 400px;
	grid-template-columns: 300px 70px;
	grid-template-rows: 1fr;
	grid-template-areas: "link caret";
	visibility: hidden;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > a{
	font-size: 24px;
	grid-area: link;
	padding: 23px 0;
	width: 300px;
	white-space: nowrap;
	overflow:hidden;
	display: block;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > i{
	font-size: 24px;
	grid-area: caret;
	padding: 23px 0;
	padding-left: 30px;
	width: 70px;
	white-space: nowrap;
	overflow:hidden;
	display: block;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > i.fas{

}

#menu_wrapper .menu_bar > div > ul.menu_items > li > ul{
	grid-area: subLink;
	height: 0px;
	visibility: hidden;
	display: grid;
	padding-left: 30px;
	width: 0px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit, 80px);
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > ul.selected{
	position: absolute;
	left: 400px;
	height: 100%;
	width: 400px;
	visibility: hidden;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > ul > li{
	width: 0px;
	height: 0px;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > ul.selected li{
	height: 50px;
	display: block;
	background-color: yellow;
	height: 0px;
	visibility: hidden;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > ul a{
	font-size: 24px;
	grid-area: link;
	padding: 23px 0;
	width: 370px;
	white-space: nowrap;
	overflow:hidden;
	display: block;
}
#menu_wrapper .menu_bar > div > ul.menu_items > li > ul i{
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	height: 30px;
}

@media screen and (max-width: 700px){
	#custom-menu ul.nav_items{
		height: 0px;
		visibility:collapse;
	}
	#custom-menu ul.nav_items > li.nav_item > a{
		font-size: 0px;
	}
	#custom-menu.nav_bar > span.hamburger{
		height: auto;
		visibility: visible;
	}
	#custom-menu.nav_bar > span.hamburger > i.fa-bars{
		font-size: 40px;
		padding: 5px 25px;
		visibility: visible;
	}
	#custom-menu.nav_bar{
		min-height: 50px;
		max-height: 50px;
		background: linear-gradient(to right, rgba(232,131,64,1) 0%, rgba(255,241,206,1) 3%, rgba(255,255,255,1) 14%, rgba(191,245,245,1) 19%, rgba(0,128,129,1) 38%, rgba(0,128,129,1) 100%);
	}
	#custom-menu.nav_bar.affix{
		background: linear-gradient(to right, rgba(232,131,64,1) 0%, rgba(255,241,206,1) 3%, rgba(255,241,206,1) 30%, rgba(255,241,206,0) 100% );
	}
	#menu_wrapper{
		visibility: visible;
	}
	#menu_wrapper .menu_bar > div > ul.menu_items > li > ul.selected{
		visibility: visible;
	}
	#menu_wrapper .menu_bar > div > ul.menu_items > li > ul.selected li{
		visibility: visible;
	}
	#menu_wrapper .menu_bar > div > ul.menu_items > li{
		visibility: visible;
	}
}
