main div.main{
  align-items: stretch;
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
    "page_content";
}
div.main div.image-tete_de_page{
  grid-area: image;
}
div.main div.clear-area{
  grid-area: clear;
  width: 0;
}
div.main div.content-area{
  grid-area: page_content;
  width: 100%;
  padding: 0 20px;
}
@media screen and (min-width: 1000px){
  main div.main{
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image image"
      "clear page_content";
  }
}
@media screen and (min-width: 1290px){
  main div.main{
    grid-template-columns: 318px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image image"
      "clear page_content";
  }
}
@media screen and (min-width: 1600px){
  main div.main{
    grid-template-columns: 318px auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image image image"
      "clear page_content clear";
  }
  div.main div.content-area{
    width: 1282px;
    padding: 0;
  }
}
@media screen and (min-width: 1918px){
  main div.main{
    grid-template-columns: 318px auto 318px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image image image"
      "clear page_content clear";
  }
  div.main div.content-area{
    width: 100%;
  }
  div.main div.image-tete_de_page{
    grid-area: none;
    grid-row: 1;
    grid-column: 1/4;
  }
}
/*
footer
*/
footer .footer_wrapper{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr 4fr;
  grid-template-areas:
    "desc"
    "links"
    "contact";
}
footer .footer_wrapper .desc{
  grid-area: desc;
}
footer .footer_wrapper .links{
  grid-area: links;
}
footer .footer_wrapper .contact{
  grid-area: contact;
}
footer .footer_wrapper .rdv{
  grid-area: rdv;
}
@media screen and (min-width: 700px){
  footer .footer_wrapper{
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "desc desc"
      "links contact";
  }
}
@media screen and (min-width: 900px){
  footer .footer_wrapper{
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "desc contact"
      "links contact";
  }
}
@media screen and (min-width: 1000px){
  footer .footer_wrapper{
    width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "desc links contact";
  }
}
.review_wrapper{
  display: grid;
  margin-top: 70px;
  height: 386px;
  border: 3px solid #EEE;
  border-radius: 10px;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 1fr;
  grid-template-areas: "sleft reviews sright";
}
.review_wrapper .scroll_left{
  grid-area: sleft;
  box-shadow: inset -1px 0px 31px 20px rgba(255,255,255,1);
}
.review_wrapper .scroll_right{
  grid-area: sright;
  box-shadow: inset -1px 0px 31px 20px rgba(255,255,255,1);
}
.review_wrapper .fbreviews{
  grid-area: reviews;
  box-shadow: inset -1px 0px 31px 20px rgba(255,255,255,1);
  white-space: nowrap;
  overflow: hidden;
}
.review_wrapper .fbrev_wrap{
  left: 500px;
  white-space: nowrap;
  overflow: hidden;
}
.review_wrapper .fbreviews .fbrev_wrap .fbrev{
  display: inline-block;
  position: absolute;
  transition: .9s;
  width: 498px;
  background-color: blue;
}
.review_wrapper i{
  font-size: 60px;
  color: #CCC;
  display: block;
  margin: 160px 10px 0px;
}
#myCarousel{
  margin-top: 50px;
}
#myCarousel .carousel-inner .frame{
  width: 498px;
  margin: 0 auto;
}
.main .calendar_rdv{
  margin-right: 70px;
}
.main .calendar_rdv > h2{
  font-size: 35px;
  margin: 40px 0;
  text-align: center;
}
.main .calendar_rdv h2 a{
  text-decoration: none;
}

.fc-event,
.fc-event-dot {
	background-color: #008081;
  border-color: #008081;
  border-radius: 2px;
}
.fc-event:hover,
.fc-event-dot:hover{
	background-color:  rgba(232,131,64,1);
  border-color:  rgba(232,131,64,1);
  border-radius: 2px;
}

.main .calendar_rdv .rendezvous{
  display: block;
  margin-top: 60px;
}
.main .calendar_rdv .rendezvous .prendreRendezvous{
  background-color: #E6F2F2;
  padding: 50px 100px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
}
.main .calendar_rdv .rendezvous .prendreRendezvous .elem{
  display: grid;
  grid-template-columns: minmax(250px, 30%) minmax(70% , 100%);
}
.main .calendar_rdv .rendezvous .prendreRendezvous .elem .radio{
  display: grid;
  grid-template-columns: minmax(100px , 25%)  minmax(100px , 25%) minmax(0px , 50%);
  grid-template-rows: 1fr;
}
.main .calendar_rdv .rendezvous .prendreRendezvous .elem .radio input{
  padding-left: 70px;
}
.main .calendar_rdv .rendezvous .prendreRendezvous > input{
  border: 2px solid #008081 ;
  border-radius: 20px;
  background-color: white;
  transition: .7s;
}
.main .calendar_rdv .rendezvous .prendreRendezvous > input:hover{
  background-color:  rgba(255,241,206,1);;
  border-color:  rgba(232,131,64,1);
}

.main .calendar_rdv .rendezvous .connect{
  background-color: #E6F2F2;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main .calendar_rdv .rendezvous .connect p{
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
}
.main .calendar_rdv .rendezvous .connect input{
  grid-column: 2;
  grid-row: 2;
  border: 2px solid #008081 ;
  border-radius: 20px;
  background-color: white;
  transition: .7s;
}
.main .calendar_rdv .rendezvous .connect input:hover{
  background-color:  rgba(255,241,206,1);;
  border-color:  rgba(232,131,64,1);
}
