body{
	position: absolute;
	left: 0px;
	font-family: 'Exo', sans-serif;
	font-size : medium;
}
/*
h1{
	text-align: center;
	margin :30px ;
	font-size: 300%;
	color: white;
}

*/

.flaticon-world,
.flaticon-bones,
.flaticon-help,
.flaticon-massage{
	display: inline;
	text-decoration: none;
	padding-right: 10px;
}

.container{
	width: 900px;
	margin : auto;
}

/* main a partir d'ici */
div.affix + .img_alexandre_velo{


}

.img_alexandre_velo{

	width : 100%;
}

.contactlien{
	margin-left: 20px;
	margin-bottom: 20px;
	color : #3E7F7C;
	text-decoration: none;

}

.contactlien:hover{
	color : #006A7F;
	text-decoration: none;

}
.BandeauCompteur{
	display: flex;
	justify-content: center;
	color: black;
	margin: 50px 0px 15px 0px;
}

.BandeauCompteur img{

	width: 90px;
}
.Compteurs{

	margin: auto;
	text-align: center;
	width: 200px;
	height: 200px;
	display: block;
	border-radius: 50%;
	border: 1px solid #3E7F7C;
	background-color: #3E7F7C;
	overflow: hidden;

}

.compteur{


}
.pneu{

	width: 90px;
}
/* page soins*/

.effetsTherapeutiques{

   color : grey;

}
/*page wcbt*/

.effetsTherapeutiques span{

	color : black;
}



/*page newsletter*/

.link{

	text-decoration: none;
	color : black;
}

.link:hover{
	text-decoration: none;
}




/*footer a partir d'ici*/

footer{

	background-color: #333333;
  	color: white;
  	margin-top: 200px;

}

h5{

	padding: 10px;
}

.listecate a{
text-decoration: none;
color: inherit;
padding: 10px ;
display: block;
}

.chevron{
	padding : 5px 10px;
	color :#008081;
}

.telephone{
	color :#008081;
	padding : 5px 10px;
	transform: rotateZ(90deg);
	/*transform: scale(1,-1);*/
}

.lien{

	margin: 10px;
	color : white;
	padding : 5px 10px;
	font-size: smaller;

}

.icones{

	padding : 5px 10px;
	color :#008081;

}


.lien:hover{

	color :#008081;
	text-decoration: none;
}

.lien:focus{
	color: white;
	text-decoration: none;

}

.Liens{
  margin: 5px;
}
.Liens:after{
  content:'';
  display: block;
  height: 3px;
  width: 50px;
  background-color: #008081;
  margin-top: 5px;
  margin-bottom: 15px;
}
.listeliens{
  padding-left: 0;
  list-style-type:none;
}

.Liens .listeliens .listecate i{

padding: 20px 0;
}
.Contact{
 margin: 5px;

}

.Contact:after{

	content:'';
  	display: block;
	height: 3px;
	width: 50px;
	background-color: #008081;
	margin-top: 5px;
	margin-bottom: 15px;

}
/*
.Contact i .phone{

	image-orientation: -90deg flip;
	margin : 10px;
}*/

.RDV{
  margin: 5px;
}

.RDVButton a[role="button"]{

	margin : 10px 20px 10px 20px;
	background-color: #008081;
	border-color: #008081;
	padding: 15px;
	box-shadow: 0px 0px 5px 1px rgba(85,85,85,1);
}

.RDVButton a[role="button"]:hover{

	margin: 8px 18px 8px 18px;
	border : 3px solid #E88340;
	color: white;
}

.RDV:after{
  content:'';
  display: block;
  height: 3px;
  width: 50px;
  background-color: #008081;
  margin-top: 5px;
  margin-bottom: 10px;
}

.RDVtxt{
  margin: 5px;
}

.copyright{
  background-color: #008081;
  text-align: center;
  padding:20px;
}

.reactive-container{
	display: flex;
}

.reactive-container .side-section{
	background-color: red;
	min-height: 100px;
}

.reactive-container .main-section{
	background-color: blue;
	min-height: 100px;
}
