body{

	font-family: 'Exo', sans-serif;
	font-size : medium;
}

h1{
	text-align: center;
	margin :30px ;
	font-size: 300%;
	color: white;
}


header{

	background-color: #008081;
	background : linear-gradient(to bottom, rgba(0,163,163,1) 0%, rgba(0,163,163,1) 7%, rgba(0,128,129,1) 48%, rgba(0,128,129,1) 100%);
}




.container{
	width: 900px;
	margin : auto;
}

.LogoTable{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;

}

.LogoVelo{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: center;
}

.LogoTable img{

	width: 200px;
	height: 150px;
	margin-top: 10px;

}
.LogoVelo img{
	width: 300px;
	height: 140px;
	margin: 10px 50px 0 40px;

}

/*
.containerNav{

	width : 1100px;
	margin: 0 auto;
	align-items: center;
}

.nav-wrapper{
	min-height: 50px;
}

.ConnexionButton button[type="button"]{

	position:relative;
	left:90%;
	background-color: #008081;
	border-color : #008081;

}




.NavBar{

	box-shadow: 0px 1px 5px grey;
	border-bottom: 2px solid #ED7E39;
	padding : 0px;
	margin-bottom: 0;
}



.itemDeroulants:hover{

	background-color: #008081;
	background-color: #ED7E39;

}

.itemDeroulants {

	color : black;
}

.itemDeroulant a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;

}

.dropdown:hover .dropdown-menu {
  display: block;

}


.menuNavItem{

	margin : 0px 10px 0px 10px;
}

div .dropdown-menu{

	padding : 0px;
}

div .dropdown-divider{

	margin : 0px;
	padding: 2px;
}

.navbar-default {
	background-color: blue;
		border-color: green;
}

.navbar-default .nav-item  a{
	color: red;
}

.NavForm{

	text-align: center;
}
*/

/* main a partir d'ici */
div.affix + .img_alexandre_velo{


}

.img_alexandre_velo{

	width : 100%;
}



.RdvBandeau{
	color: white;
	background-color: #ED7E39;
	box-shadow: 3px 3px 5px rgba(85,85,85,1);
	border : 2px solid #ED7E39;


}

.RdvBandeau:hover{

	border : 2px ridge white;
	color: white;
}

.encart{
	min-height: 58px;
	/*background-color:  #008081;*/
	background:  -webkit-linear-gradient(top, rgba(0,127,128,1) 0%, rgba(0,127,128,1) 14%, rgba(0,163,163,1) 100%);
	padding: 5px;
	text-align: center;
	color: white;
}


.no-pad{
	width: 100%;
}

.no-pad>*{
	padding: 0;
}

.Bandeau{
	display: flow-root;
	margin: 5px;
}

.Bandeau span{

	margin: 30px;
}

.content{

	margin: 25px;
}

.Parties{

	text-align: center;
	margin: 40px;
}

.SousParties{

	margin: 30px;
}

.Presentation{
	margin: 40px;
}



/* page soins*/

.effetsTherapeutiques{

   color : grey;

}
/*page wcbt*/

.lienReseauxSociaux{


}



.effetsTherapeutiques span{

	color : black;
}















/*footer a partir d'ici*/

footer{

	background-color: #333333;
  	color: white;
  	margin-top: 200px;

}

h5{

	padding: 10px;
}

.listecate a{
text-decoration: none;
color: inherit;
padding: 10px ;
display: block;
}

.chevron{
	padding : 5px 10px;
	color :#008081;
}

.telephone{
	padding : 5px 10px;
	color :#008081;

	transform: rotateZ(90deg);
	/*transform: scale(1,-1);*/
}

.Liens{
  margin: 5px;
}
.Liens:after{
  content:'';
  display: block;
  height: 3px;
  width: 50px;
  background-color: #008081;
  margin-top: 5px;
  margin-bottom: 15px;
}
.listeliens{
  padding-left: 0;
  list-style-type:none;
}

.Liens .listeliens .listecate i{

padding: 20px 0;
}
.Contact{
 margin: 5px;

}

.Contact:after{

	content:'';
  	display: block;
	height: 3px;
	width: 50px;
	background-color: #008081;
	margin-top: 5px;
	margin-bottom: 15px;

}
/*
.Contact i .phone{

	image-orientation: -90deg flip;
	margin : 10px;
}*/

.RDV{
  margin: 5px;
}

.RDVButton a[role="button"]{

	margin : 10px 20px 10px 20px;
	background-color: #008081;
	border-color: #008081;
	padding: 15px;
	box-shadow: 0px 0px 5px 1px rgba(85,85,85,1);
}

.RDVButton a[role="button"]:hover{

	border : 1px solid #E88340;
}

.RDV:after{
  content:'';
  display: block;
  height: 3px;
  width: 50px;
  background-color: #008081;
  margin-top: 5px;
  margin-bottom: 15px;
}

.RDVtxt{
  margin: 5px;
}

.copyright{
  background-color: #008081;
  text-align: center;
  padding:20px;
}

.reactive-container{
	display: flex;
}

.reactive-container .side-section{
	background-color: red;
	min-height: 100px;
}

.reactive-container .main-section{
	background-color: blue;
	min-height: 100px;
}
