/*:required {

  background-color: red;

}*/






.flex-container{

  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form{

    width: 100%;

}

.flex-input{

  display: flex;
  justify-content: space-between;
  padding: 7px;

}

.flex-input *{

    padding: 3px;
    margin: 0px 5px;
}

.ConnectionBouton{

  display: inline;
  color : #008081;
  background-color: #E6F2F2;
  border-radius: 30px;
  border: 1px solid #008081;
  padding : 5px 12px;
  margin-right: 60px;
  font-size: 15px;

}

.ConnectionBouton:hover{

  color: white;
  background-color: #008081;
  border: 1px double white;
}


.clearfix{
    display: table;
    clear: both;

}

.linkInscription{

  margin-top : 50px;
  text-align: center;

}


.lbl{

  width: 100%;
  margin: 7%;

}
.span{

  color: black;
}
.inscription{

  display:block;
  text-align: justify;
}
/*
input[type=text],[type=textarea] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
}*/


/*




nouvelle version à partir d'ici




*/

.content{
  width 100%;
  margin: 0 auto;
}
.small-content{
  max-width: 400px;
}
.medium-content{
  max-width: 600px;
}
.large-content{
  max-width: 900px;
}
.content > h4{
    text-align: center;
    margin: 70px 0 30px;
}
.content>fieldset>legend{
  border: 0;
}
.content>fieldset{
  padding: 5px 15px;
  border: solid 1px #008081;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #E6F2F2;
  box-shadow:  0px -13px 20px 0px #E6F2F2;
  width: 100%;
}
.content fieldset > *:nth-child(n+2){
  margin: 5px 0 20px;
  float: left;
}
.content fieldset > div.radio{
  width: 100%;
  align-items:flex-start;
}
.content fieldset label,
.content fieldset > div.radio-set > label.name{
  width: 29%;
  min-width: 107px;
  text-align: left;
}
.content fieldset input{
  width: calc(71% - 5px);
}
.content input.connectionButton, .content input.createAcc{
  color : #008081;
  background-color: #E6F2F2;
  border-radius: 30px;
  border: 1px solid #008081;
  padding : 5px 12px;
  font-size: 15px;
  min-width: 117px;
  margin-right: 20px;
}
.content input.connectionButton:hover, .content input.createAcc:hover{
  color: white;
  background-color: #008081;
  border: 1px double white;
}
.content .stayConnected{
  display: inline-block;
  width: calc(100% - 142px);
}
.content p{
  margin: 30px 0 20px;
}
.content fieldset > div.radio-set{
  width: 100%;
  display: block;
}
.content fieldset > div.radio-set > div.radio-set-2{
  width: calc(71% / 2);
  float: right;
}
.content fieldset > div.input-container{
  width: 71%;
}
.content fieldset > div.input-container > input{
  float: left;
  max-width: 300px;
}
.content fieldset > div.input-container > select{
  float: left;
  max-width: 611px;
}
.content fieldset > div.radio-set > div.radio-set-2 > input{
  width: 20px;
}
.content fieldset > div.radio-set > div.radio-set-2 > label{
  width: calc(100% - 25px);
}
