<!DOCTYPE html>
<html>
<head>

	<title>Le Chiro Qui Roule</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="ConnexionButton">
				<button type="button" class="btcCo btn btn-primary btn-sm">Connexion</button>
			</div>
			<h1>Le Chiro Qui Roule</h1>

				

		</div>
			<nav class="NavBar navbar navbar-expand-lg navbar-light bg-light">
		<div class="containerNav">	
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>

			  <div class="MenuNavBar collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			    	<li class="menuNavItem nav-item active">
        				<a class="nav-link" href="file:///P:/Projet%20Site%20Stage/index.html">Acceuil <span class="sr-only"></span></a>
      				</li>
			      	<li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="file:///P:/Projet%20Site%20Stage/chiropraxie.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	La chiropraxie
			        	</a>
			        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropraxie.html#Histoire_et_définition">Histoire et définition</a>
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_légale_en_France">Reconnaissance légale en France</a>				         
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_dans_le_monde">Reconnaissance dans le monde </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_formation_en_chiropraxie">La formation en chiropraxie </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_recherche_en_chiropraxie">La recherche en chiropraxie</a>
				        </div>
				    </li>
				    <li class="menuNavItem nav-item dropdown">
				        <a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      		Les Soins Chiropratiques 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="soins.html#Pour_Qui">Pour Qui ? </a>
				          <a class="dropdown-item" href="soins.html#Les_symptomes_pour_consulter">Les symptômes pour consulter</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="soins.html#Deroulement_d'une_séance">Déroulement d’une séance </a>
				          <a class="dropdown-item" href="soins.html#Tarifs">Tarifs</a>
				          <a class="dropdown-item" href="soins.html#Mutuelles_remboursant_les_soins">Mutuelles remboursant les soins </a>
				        </div>
				    </li>			     
				    <li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	Votre Chiropracteur 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropracteur.html#Son_parcours">Son parcours </a>
				          <a class="dropdown-item" href="chiropracteur.html#Seance_a_domicile_a_velo">Séance à domicile à vélo </a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="chiropracteur.html#Contacts">Contacts</a>	       
				        </div>
				    </li>
				    <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="wcbt.html">Le World Chiropractic Bike Tour</a>
			        </li>
			        <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="#">Connexion</a>
			        </li>
			     </ul>
			    </div>

		</div> 
			</nav>  			  	  
		

	</header>


	<main>
		
		<div class="container">
			
			<div>
				
				<h2 class="Parties">Votre Chiropracteur</h2>

				<h3 class="SousParties"><a name="Son_parcours"></a>Son parcours</h3>

				<p>Alexandre Chassagne Votre Chiro qui roule</p>

				<p>Alexandre Chassagne commence ses études en Chiropraxie en 2010 après un Baccalauréat Scientifique terminé avec brio en région Parisienne.</p>

				<p>Ses études le passionnent, c’est donc naturellement qu’il s’investit dans son établissement de formation dans différents domaines tels que la communication ou encore le département d’aide entre étudiants pour les matières concernant l’anatomie.</p>

				<p>Puis en 2015, il devient vice-président de l’association humanitaire des étudiants de l’école, Kheir d’Afrik (lien vers le site internet de l’association), avec laquelle il partira en Novembre 2015 donner des soins chiropratiques aux populations défavorisées du Burkina Faso durant 15 jours.</p>

				<p>Ses études en chiropraxie se terminent à Toulouse dans l’institut de Formation en Novembre 2016. Après ses études, ne souhaitant pas s’installer tout de suite en tant que chiropracteur, il part à la rencontre de lui-même à travers un long voyage initiatique qui lui sera révélateur.</p>

				<p>Ce voyage débute en Février 2017, et durant presque 9 mois, Alexandre vagabonde sur les routes de l’Europe en direction de l’Est, mais au cours de la route, sa passion le rattrape et il décide de mener son propre projet humanitaire à but non lucratif. En effet, il crée alors le World Chiropractic Bike Tour (lien vers la page facebook), le même voyage mais cette fois accompagné d’une table de soins portable tractée grâce à une remorque derrière son vélo. Le but étant d’aller prodiguer des soins chiropratiques aux populations qui n’y ont pas accès.</p>

				<p>Après 10 000 km et plus d’une cinquantaine de patients aidés, Alexandre décide de terminer son voyage en Novembre 2017. Et c’est donc tout naturellement que lui vient l’idée de faire des séances de chiropraxie à domicile en se déplaçant à vélo. Le projet du Chiro Qui Roule naît alors à Laval début 2018 pour démarrer officiellement courant Avril.</p>

			<h3 class="SousParties"><a name="Seance_a_domicile_a_velo"></a>Séance à domicile à vélo </h3>

			<p>Pour pouvoir recevoir une séance à domicile, n’oubliez pas de préparer un peu de place pour Alexandre et sa table de soins. <i class="far fa-spin fa-smile"></i></p>

			<p>Vous pouvez choisir de regrouper plusieurs séances pour plusieurs personnes à la suite dans un même lieu (Pour un groupe d’amis par exemple), afin d’éviter de nombreux déplacements. Dans ce cas-là, merci de me prévenir à l’avance par téléphone. Aussi, si vous le souhaitez, je peux dispenser une petite présentation sur un sujet donnée (tel que l’arthrose par exemple) et fera l’objet d’une discussion.</p>

			<h3 class="SousParties"><a name="Contacts">Contacts</a></h3>

			Alexandre Chassagne, docteur en chiropraxie à domicile, éco responsable. </p>

			<ul>
				<li>Numéro de téléphone : 07.68.48.10.02</li>
				<li>Mail : <a href="mailto:lechiroquiroule@gmail.com">lechiroquiroule@gmail.com</a></li>
			</ul>
			

			</div>

		</div>

	</main>

			
	<footer>
	    	<div class="container">
	      		<div class="row">
	        		<div class="col-lg-3">
	          			<h5>Alexandre Chassagne</h5>
	          			<p></p> 
	          		</div>
	          		<div class="col-lg-5">
			          <h5 class="Liens">Liens</h5>
			          <ul class="listeliens">
			            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Histoire et définition</a></li>
			            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance légale en France</a></li>
			            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance dans le monde </a></li>
			            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La formation en chiropraxie </a></li>
			            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La recherche en chiropraxie</a></li>		       
			          </ul>
			        </div>
			        <div class="col-lg-4">
			        	<h5 class="Contact">Contact</h5>		        	
			        	<p class="ContactFooter"><i class="telephone fas fa-phone" data-fa-transform="flip-v flip-h" ></i>07 68 48 10 02</p>
			        	<p><i class="chevron fab fa-facebook fa-spin"></i>Le Chiro qui roule</p>
			        	<p><i class="chevron fab fa-instagram fa-spin"></i>Lechiroquiroule</p>
			          	<h5 class="RDV">RDV</h5>
			          	<div class="RDVButton">
			          		<a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Prendre rendez-vous</a>
			          	</div>
			          	<p class="RDVtxt">N'hésitez pas à prendre rendez-vous dès maintenant.</p>
			          
			      </div>
	        	</div>
	        	
		    </div>

	  </footer>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	</body>

	</html>