<!DOCTYPE html>
<html>
<head>

	<title>Le Chiro Qui Roule</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="ConnexionButton">
				<button type="button" class="btcCo btn btn-primary btn-sm">Connexion</button>
			</div>
			<h1>Le Chiro Qui Roule</h1>

				

		</div>
			<nav class="NavBar navbar navbar-expand-lg navbar-light bg-light">
		<div class="containerNav">	
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>

			  <div class="MenuNavBar collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			    	<li class="menuNavItem nav-item active">
        				<a class="nav-link" href="file:///P:/Projet%20Site%20Stage/index.html">Acceuil <span class="sr-only"></span></a>
      				</li>
			      	<li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="file:///P:/Projet%20Site%20Stage/chiropraxie.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	La chiropraxie
			        	</a>
			        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropraxie.html#Histoire_et_définition">Histoire et définition</a>
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_légale_en_France">Reconnaissance légale en France</a>				         
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_dans_le_monde">Reconnaissance dans le monde </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_formation_en_chiropraxie">La formation en chiropraxie </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_recherche_en_chiropraxie">La recherche en chiropraxie</a>
				        </div>
				    </li>
				    <li class="menuNavItem nav-item dropdown">
				        <a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      		Les Soins Chiropratiques 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="soins.html#Pour_Qui">Pour Qui ? </a>
				          <a class="dropdown-item" href="soins.html#Les_symptomes_pour_consulter">Les symptômes pour consulter</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="soins.html#Deroulement_d'une_séance">Déroulement d’une séance </a>
				          <a class="dropdown-item" href="soins.html#Tarifs">Tarifs</a>
				          <a class="dropdown-item" href="soins.html#Mutuelles_remboursant_les_soins">Mutuelles remboursant les soins </a>
				        </div>
				    </li>			     
				    <li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	Votre Chiropracteur 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropracteur.html#Son_parcours">Son parcours </a>
				          <a class="dropdown-item" href="chiropracteur.html#Seance_a_domicile_a_velo">Séance à domicile à vélo </a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="chiropracteur.html#Contacts">Contacts</a>	       
				        </div>
				    </li>
				    <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="wcbt.html">Le World Chiropractic Bike Tour</a>
			        </li>
			        <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="#">Connexion</a>
			        </li>
			     </ul>
			    </div>

		</div> 
			</nav>			  	  
		

	</header>
	

	<main>
		<div class="container">
			
			<div>

				<h2 class="Parties">La Chiropraxie</h2>
				
				<h3  class="SousParties"><a name="Histoire_et_définition">Histoire et définition</a></h3>
				

				<p>Chiropratique ou chiropraxie vient du grec « kheir » qui signifie la main et « praxis » l’action. Il s’agit d’une profession de santé manuelle qui vise à améliorer les fonctions du corps. Même si l’approche chiropratique est globale, le chiropracteur vise à détecter, soulager et prévenir les troubles neuro musculo squelettiques (Concernant les articulations, le système nerveux périphérique et les muscles). Le Chiropracteur réalise des manipulations spécifiques appelées « ajustements chiropratiques » lui permettant de rendre la mobilité à l’articulation visée et/ou soulager certaines douleurs.</p>

				<p>Entre autres, L’intelligence innée dont tout être vivant bénéficie, est hautement considéré en chiropraxie. En effet, cette intelligence innée véhiculée par le système nerveux, permet le bon fonctionnement du corps humain. Une bonne santé vertébrale témoigne d’un système nerveux sans défaillance et donc d’un corps plus apte à utiliser ses capacités de régénération naturelles.</p>

				<p>Ainsi, le chiropracteur va rechercher la cause du symptôme afin de permettre au corps de se guérir par lui-même.</p>

				<p>La chiropratique est née aux Etats Unis à la fin du 19e siècle avec son inventeur Daniel David Palmer. C’est lui qui a pratiqué le premier ajustement chiropratique en 1895. Il inventa le terme de « subluxation vertébrale » pour « légère déviation de sa relation normale avec les vertèbres adjacentes causant une altération et un rétrécissement du foramen intervertébral. Le chiropracteur place ses mains sur les vertèbres, afin d’éliminer les pincements et ramener les nerfs à leur tonicité normale. La tension normale produit des fonctions normales, l’harmonie et par conséquent la santé ».</p>

				<p>En quelques chiffres :</p>

				<p>La chiropratique existe depuis 1895 On trouve plus de 100 000 chiropracteurs dans le monde dont environ 1000 dans l’hexagone. Elle est reconnue dans plus de 40 pays et la profession est reconnue par l’Organisation Mondiale de la Santé et est considérée comme la profession de santé manuelle de référence dans le monde.</p>

				<h3  class="SousParties"><a name="Reconnaissance_légale_en_France">Reconnaissance légale en France</a></h3>
				

				<p>RÈGLEMENTATION FRANÇAISE DE LA CHIROPRAXIE</p>

				<p>2002 : la chiropraxie est reconnue par le ministère de la santé.</p>

				<p>Installés en France depuis près d’un siècle, les chiropracteurs français ont attendu la loi du 4 mars 2002 relative aux droits des malades et à la qualité du système de santé, dite loi Kouchner, avant d’être reconnus et de voir « l’usage du titre de chiropracteur […] réservé aux personnes titulaires d’un diplôme ».</p>

				<p>Pour en savoir plus :</p>

				<p>Lire l’article 75 de la loi du 4 mars 2002 relative aux droits des malades et à la qualité du système de santé sur legifrance.gouv.fr (lien vers l’article).</p>

				<p>2011 : les chiropracteurs deviennent les thérapeutes non médecins autorisés à pratiquer des manipulations vertébrales sans avis médical.</p>

				<p>En 2011, le décret relatif aux actes et aux conditions d’exercice de la chiropraxie définit ce statut très favorable, dans le paysage français des thérapies manuelles, en vertu de la qualité des preuves scientifiques sur l’efficacité de la chiropraxie comme de la qualité de la formation reçue par l’ensemble des professionnels diplômés en exercice.</p>

				<p>En savoir plus :</p>

				<p>Lire le décret n° 2011-32 du 7 janvier 2011 relatif aux actes et aux conditions d’exercice de la chiropraxie sur legifrance.gouv.fr (lien vers l’article).</p>

				<p>2013 : les chiropracteurs sont enregistrés auprès de l’agence régionale de santé.</p>

				<p>Comme tous les professionnels de santé et les autres usagers de titres professionnels du champ sanitaire (ostéopathe, psychothérapeutes, notamment), les chiropracteurs français se voient désormais attribuer un numéro ADELI, soumis à la vérification de leur diplôme par leur agence régionale de santé.</p>

				<p>En 2013, tous les chiropracteurs membres de l’AFC ont été enregistrés auprès de l’ARS et ont reçu un numéro ADELI après que leur diplôme a été vérifié.</p>

				<p>Source : AFC</p>

				<h3  class="SousParties"><a name="Reconnaissance_dans_le_monde">Reconnaissance dans le monde</a></h3>
				
				<p>La place de la chiropraxie dans les systèmes de santé à l’étranger.</p>

				<p>En Europe, la chiropraxie est reconnue et réglementée dans une quinzaine de pays. Très développée en Grande-Bretagne, où s’est installé le premier Collège européen de chiropraxie en 1965, c’est à ce jour en Suisse et dans les pays scandinaves qu’elle est le plus efficacement intégrée aux systèmes de santé.</p>

				<p>Aux Etats-Unis, la chiropraxie est une discipline très reconnue et très popularisée notamment dans le milieu sportif de haut niveau. De nombreux athlètes se font donc régulièrement ajuster.</p>

				<p>Au total, La pratique de la chiropratique est reconnue (voir réglementée) dans environs 40 pays. Dans de nombreux autres pays où la profession est d'usage cette dernière est tolérée. Les caractéristiques communes de la législation et la pratique dans toutes les juridictions sont :</p>
				<ul>
					<li>Profession de premier contact – accès direct des patients</li>
					<li>Le droit et le devoir de diagnostic, y compris la prise et / ou prescription de l'imagerie du squelette</li>
					<li>Pas d'utilisation de médicaments ou d'une chirurgie</li>
				</ul> 

				<p>La pratique de la chiropratique par des personnes sans formation formelle et non qualifiée, mais se dénommant « chiropraticiens », demeure un problème important dans certains pays sans lois de nature réglementaire (par exemple le Brésil, Allemagne, Corée, Japon).</p>

				<p>Source : AFC</p>

				<h3 name="La_formation_en_chiropraxie" class="SousParties"><a name="La_formation_en_chiropraxie">La formation en chiropraxie</a></h3>				

				<p>Le chiropracteur, une formation de haut niveau universitaire. La formation du chiropracteur compte parmi les plus exigeantes des formations dans le champ de la santé.</p>

				<p>La loi française impose 3520 heures de formation aux chiropracteurs. Pourtant, tous les chiropracteurs exerçant dans le monde ont suivi un minimum de 5500 heures d’enseignements théoriques et pratiques répartis sur six ans.</p>

				<p>En effet, la profession est standardisée au niveau international avec un niveau d’exigence supérieur à celui de la loi française.</p>

				<p>La formation des chiropracteurs est proche de celle des étudiants en médecine.</p>

				<p>Leur parcours compte en effet des cours en biologie, physique et chimie très avancée mais également un lourd contingent d’heures d’anatomie et de sémiologie (science des symptômes), dispensées en partie par des docteurs en médecine.</p>

				<p>Sur les 5 500 heures que compte le programme, 1 400 sont dédiés à la formation aux actes chiropratiques.</p>

				<p>Une formation reconnue par le monde de la santé</p>

				<p>En France, la formation est dispensée par une unique école, l’Institut franco-européen de chiropratique (IFEC). L’IFEC est agréée par le ministère de la santé depuis 2013.</p>

				<p>En 2013 toujours, l’Académie nationale de médecine a reconnu la qualité de la formation des chiropracteurs qu’ils présentent comme « identique aux écoles de médecine » dans un rapport sur les thérapies complémentaires. (lien vers le rapport)</p>

				<p>De plus, l’IFEC est pour le moment, le seul établissement de formation à la chiropraxie en France avec deux pôles, à Paris et Toulouse.</p>

				<p>Source : AFC</p>


				<h3 class="SousParties"><a name="La_recherche_en_chiropraxie">La recherche en chiropraxie</a></h3>
				

				<p>Les bienfaits scientifiquement prouvés de la chiropraxie.</p>

				<p>Un nombre croissant de recherches démontrent que les soins prodigués par les chiropracteurs sont à la fois sûrs et efficaces.</p>

				<p>En 2013, cette abondante littérature scientifique a conduit à une reconnaissance accrue de la profession chiropratique par la communauté médicale en France et aux Etats-Unis.</p>

				<p>En France, dans le rapport « Thérapies complémentaires : leur place parmi les ressources de soins », l’Académie nationale de médecine reconnait pour la première fois l’intérêt des manipulations vertébrales dans la prise en charge des lombalgies, des cervicalgies, mais également des céphalées d’origine cervicale.</p>

				<p>Aux Etats-Unis, le Journal of the American Medical Association recommande aux patients de consulter un chiropracteur en première intention pour le soin des lombalgies.</p>

				<p>Source : AFC</p>

			</div>

		</div>
	
	</main>

	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-3">
          			<h5>Alexandre Chassagne</h5>
          			<p></p> 
          		</div>
          		<div class="col-lg-5">
		          <h5 class="Liens">Liens</h5>
		          <ul class="listeliens">
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Histoire et définition</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance légale en France</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance dans le monde </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La formation en chiropraxie </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La recherche en chiropraxie</a></li>		       
		          </ul>
		        </div>
		        <div class="col-lg-4">
		        	<h5 class="Contact">Contact</h5>		        	
		        	<p class="ContactFooter"><i class="telephone fas fa-phone" data-fa-transform="flip-v flip-h" ></i>07 68 48 10 02</p>
		        	<p><i class="chevron fab fa-facebook fa-spin"></i>Le Chiro qui roule</p>
		        	<p><i class="chevron fab fa-instagram fa-spin"></i>Lechiroquiroule</p>
		          	<h5 class="RDV">RDV</h5>
		          	<div class="RDVButton">
		          		<a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Prendre rendez-vous</a>
		          	</div>
		          	<p class="RDVtxt">N'hésitez pas à prendre rendez-vous dès maintenant.</p>
		          
		      </div>
        	</div>
        	
	    </div>

  </footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
