<!DOCTYPE html>
<html>
<head>

	<title>Le Chiro Qui Roule</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">


	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style type="text/css">
		
		ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
	</style>
</head>
<body>
	<header>
		<div class="container">
			<div class="ConnexionButton">
				<button type="button" class="btcCo btn btn-primary btn-sm">Connexion</button>
			</div>
			<h1>Le Chiro Qui Roule</h1>

				

		</div>
			<nav class="NavBar navbar navbar-expand-lg navbar-light bg-light" >
		<div class="containerNav">	
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>

			  <div class="MenuNavBar collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto" data-spy="affix" data-offset-top="195">
			    	<li class="menuNavItem nav-item active">
        				<a class="nav-link" href="file:///P:/Projet%20Site%20Stage/index.html">Acceuil <span class="sr-only"></span></a>
      				</li>
			      	<li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="file:///P:/Projet%20Site%20Stage/chiropraxie.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	La chiropraxie
			        	</a>
			        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropraxie.html#Histoire_et_définition">Histoire et définition</a>
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_légale_en_France">Reconnaissance légale en France</a>				         
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_dans_le_monde">Reconnaissance dans le monde </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_formation_en_chiropraxie">La formation en chiropraxie </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_recherche_en_chiropraxie">La recherche en chiropraxie</a>
				        </div>
				    </li>
				    <li class="menuNavItem nav-item dropdown">
				        <a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      		Les Soins Chiropratiques 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="soins.html#Pour_Qui">Pour Qui ? </a>
				          <a class="dropdown-item" href="soins.html#Les_symptomes_pour_consulter">Les symptômes pour consulter</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="soins.html#Deroulement_d'une_séance">Déroulement d’une séance </a>
				          <a class="dropdown-item" href="soins.html#Tarifs">Tarifs</a>
				          <a class="dropdown-item" href="soins.html#Mutuelles_remboursant_les_soins">Mutuelles remboursant les soins </a>
				        </div>
				    </li>			     
				    <li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	Votre Chiropracteur 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropracteur.html#Son_parcours">Son parcours </a>
				          <a class="dropdown-item" href="chiropracteur.html#Seance_a_domicile_a_velo">Séance à domicile à vélo </a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="chiropracteur.html#Contacts">Contacts</a>	       
				        </div>
				    </li>
				    <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="wcbt.html">Le World Chiropractic Bike Tour</a>
			        </li>
			        <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="#">Connexion</a>
			        </li>
			     </ul>
			    </div>

		</div> 
			</nav>    
			    
			  	  
		

	</header>

	<main>

		<div class="container">

			<h2 class="Parties">S'abonnez à la Newsletter Chiro</h2>

			<h3 class="SousParties">S’inscrire à la Newsletter Chiro</h3>

			<p>Lien vers une page où il faut s’enregistrer avec son mail pour les non membres ou bien on peut directement s’inscrire en cochant une case quand on crée son compte sur le site.</p>

			<p>Encart avec liaison à la page facebook : Le Chiro Qui Roule</p>

			<p>Encart avec suivi Instagram page « le chiro qui roule »</p>

			<p>Encart : Pages liés AFC, OMS, Kheir d’Afrik</p>

			<h4 class="SousParties">Fonctionnalités :</h4>

			<p>Prise de RDV en ligne avec un questionnaire Google Form à remplir par le patient une fois que tout est bon, Le questionnaire m’est ensuite directement transféré par mail à <a href="mailto:lechiroquiroule@gmail.com">lechiroquiroule@gmail.com</a> (ou sur le site mais avertit par mail) avec l’heure et jour de prise de RDV. Je dois valider avant de confirmer le RDV. Une fois validé, Le patient reçoit un mail de confirmation (ou SMS encore mieux)</p>

			<p>Prise de RDV se fait sur agenda virtuelle, avec les jours et heures disponibles de 8h à 19h. Lorsque le créneau est envoyé il est bloqué jusqu’à validation, une fois validé, il reste bloqué, si non validé, il est remis disponible. Créneau d’une heure prévue. Prévoir 30 minutes de battement entre chaque consultation (pour les déplacements).</p>

			<p>Le patient reçoit une copie du mail, avec une mention spéciale en rouge avertissant que « Tout RDV pris non annulée au moins 24h à l’avance se verra facturé. »</p>

			<p>Rappel du RDV par SMS 24h avant avec l’heure du RDV, la date et la même mention que précédemment.</p>

			<p>Abonnement à la newsletter « des conseils du chiro qui roule »avec mail, à laquelle j’envoie un mail groupé aux personnes abonnées, pour transmettre diverses informations.</p>

			<p>Abonnement à la newsletter automatique lors de l’inscription avec son compte.</p>

		</div>		

	</main>


	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-3">
          			<h5>Alexandre Chassagne</h5>
          			<p></p> 
          		</div>
          		<div class="col-lg-5">
		          <h5 class="Liens">Liens</h5>
		          <ul class="listeliens">
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Histoire et définition</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance légale en France</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance dans le monde </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La formation en chiropraxie </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La recherche en chiropraxie</a></li>		       
		          </ul>
		        </div>
		        <div class="col-lg-4">
		        	<h5 class="Contact">Contact</h5>		        	
		        	<p class="ContactFooter"><i class="telephone fas fa-phone" data-fa-transform="flip-v flip-h" ></i>07 68 48 10 02</p>
		        	<p><i class="chevron fab fa-facebook fa-spin"></i>Le Chiro qui roule</p>
		        	<p><i class="chevron fab fa-instagram fa-spin"></i>Lechiroquiroule</p>
		          	<h5 class="RDV">RDV</h5>
		          	<div class="RDVButton">
		          		<a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Prendre rendez-vous</a>
		          	</div>
		          	<p class="RDVtxt">N'hésitez pas à prendre rendez-vous dès maintenant.</p>
		          
		      </div>
        	</div>
        	
	    </div>

  </footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>