<!DOCTYPE html>
<html>
<head>

	<title>Le Chiro Qui Roule</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo">

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="ConnexionButton">
				<button type="button" class="btcCo btn btn-primary btn-sm">Connexion</button>
			</div>
			<h1>Le Chiro Qui Roule</h1>

				

		</div>
			<nav class="NavBar navbar navbar-expand-lg navbar-light bg-light">
		<div class="containerNav">	
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  				</button>

			  <div class="MenuNavBar collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			    	<li class="menuNavItem nav-item active">
        				<a class="nav-link" href="file:///P:/Projet%20Site%20Stage/index.html">Acceuil <span class="sr-only"></span></a>
      				</li>
			      	<li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="file:///P:/Projet%20Site%20Stage/chiropraxie.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	La chiropraxie
			        	</a>
			        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropraxie.html#Histoire_et_définition">Histoire et définition</a>
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_légale_en_France">Reconnaissance légale en France</a>				         
				          <a class="dropdown-item" href="chiropraxie.html#Reconnaissance_dans_le_monde">Reconnaissance dans le monde </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_formation_en_chiropraxie">La formation en chiropraxie </a>
				          <a class="dropdown-item" href="chiropraxie.html#La_recherche_en_chiropraxie">La recherche en chiropraxie</a>
				        </div>
				    </li>
				    <li class="menuNavItem nav-item dropdown">
				        <a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      		Les Soins Chiropratiques 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="soins.html#Pour_Qui">Pour Qui ? </a>
				          <a class="dropdown-item" href="soins.html#Les_symptomes_pour_consulter">Les symptômes pour consulter</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="soins.html#Deroulement_d'une_séance">Déroulement d’une séance </a>
				          <a class="dropdown-item" href="soins.html#Tarifs">Tarifs</a>
				          <a class="dropdown-item" href="soins.html#Mutuelles_remboursant_les_soins">Mutuelles remboursant les soins </a>
				        </div>
				    </li>			     
				    <li class="menuNavItem nav-item dropdown">
			        	<a class="NavForm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	Votre Chiropracteur 
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="chiropracteur.html#Son_parcours">Son parcours </a>
				          <a class="dropdown-item" href="chiropracteur.html#Seance_a_domicile_a_velo">Séance à domicile à vélo </a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="chiropracteur.html#Contacts">Contacts</a>	       
				        </div>
				    </li>
				    <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="wcbt.html">Le World Chiropractic Bike Tour</a>
			        </li>
			        <li class="menuNavItem nav-item">
			        	<a class="NavForm nav-link" href="#">Connexion</a>
			        </li>
			     </ul>
			    </div>

		</div> 
			</nav>  

			
	</header>


	<main>
		
		<div class="container">

			<div>

				<h2 class="Parties">Les Soins Chiropratiques</h2>
				
				<h3 class="SousParties"><a name="Pour_Qui">Pour Qui ?</a></h3>

				<p>Qui peut consulter un chiropracteur ?</p>

				<p>La chiropraxie est indiquée pour tous, sans distinction d’âge. Cependant, certaines périodes de la vie, certains métiers ou certains sports sont plus propices à une « surutilisation » des articulations, muscles ou tendons comme à l’adoption de gestes et postures inadaptés.</p>

				<p>Pour cette raison, la chiropraxie est particulièrement recommandée aux enfants, aux femmes enceintes, aux personnes âgées et aux sportifs.</p>

				<p>Source : AFC</p>

				<h3 class="SousParties"><a name="Les_symptomes_pour_consulter">Les symptômes pour consulter</a></h3>

				<p>La chiropraxie, une efficacité prouvée sur les problèmes de dos… et bien plus</p>

				<p>La chiropraxie est préconisée dans le traitement et la prévention de nombreux troubles fonctionnels ou pathologiques de l’appareil locomoteur qui se traduisent notamment par des contractures, des douleurs ou une limitation du mouvement. Les effets thérapeutiques de la chiropraxie sont validés scientifiquement pour les indications suivantes :</p>

				<ul class="effetsTherapeutiques">
					
					<li><span>Cervicalgies mécaniques</span></li>
					<li><span>Lombalgies mécaniques (douleurs dans le bas du dos)</span></li>
					<li><span>Sciatiques (faces arrières des cuisses) et cruralgies (faces avant des cuisses)</span></li>
					<li><span>Lumbagos (blocages aigus des vertèbres lombaires)</span></li>
					<li><span>Torticolis musculaires ou vertébraux</span></li>
					<li><span>Dorsalgies musculaires et mécaniques (douleurs entre les omoplates)</span></li>
					<li><span>Dysfonctionnement du bassin (syndromes douloureux des sacro-iliaques)</span></li>
					<li><span>Névralgies Intercostales et cervico-brachiales (douleurs cervicales irradiant dans un bras)</span></li>
					<li><span>Douleurs en relation avec des troubles de statiques rachidiennes ou scolioses</span></li>
					<li><span>Douleurs projetées (douleurs pseudo viscérales par irradiations de souffrances rachidiennes)</span></li>
					<li><span>Certaines douleurs du coccyx</span></li>
					<li><span>Céphalées (maux de tête) d’origine cervicale</span></li>
					<li><span>Douleurs projetées de la face d’origine cervicale</span></li>
					<li><span>Vertiges (en particulier dans les suites de coup du lapin)</span></li>
					<li><span>Vertiges (en particulier dans les suites de coup du lapin)</span></li>
					<li><span>Syndromes douloureux de l’articulation temporo-mandibulaire (mâchoire)</span></li>			

				</ul>

				<p>Elle soulage également les affections des articulations :</p>
				
				<ul class="effetsTherapeutiques">
					<li><span>Épaule ou omoplate douloureuse</span></li>
					<li><span>Épicondylite du joueur de tennis (tennis elbow)</span></li>
					<li><span>Épitrochléite du golfeur (golfer’s elbow)</span></li>
					<li><span>Tendinites</span></li>
					<li><span>Genoux douloureux</span></li>
					<li><span>Syndromes du canal carpien (poignets)</span></li>
					<li><span>Douleurs aux talons ou des chevilles</span></li>
					<li><span>Une efficacité rapportée par les patients sur de nombreux troubles viscéraux</li>
				</ul>
				
				<p>L’amélioration de troubles fonctionnels viscéraux après prise en charge chiropratique est rapportée de manière empirique par de nombreux cliniciens et patients (par exemple une modification du transit intestinal, une sensation d’amélioration respiratoire, une modification du cycle menstruel, une amélioration des coliques infantiles, etc.).

				Néanmoins ces améliorations ne sont pas systématiques et ne reflètent pas l’état actuel des connaissances scientifiques.</p>

				<p>Source : AFC</p>

				<h3 class="SousParties"><a name="Deroulement_d'une_séance">Déroulement d’une séance</a></h3>

				<p>Comment se déroule la consultation ?</p>

				<p>Une consultation chiropratique se déroule en trois étapes :</p>

				<ul>
					
					<li>Détecter :</li>

						<p>Le chiropracteur commence par vous interroger sur votre santé, vos antécédents médicaux et sur les raisons de votre consultation.</p>
						<p>Il s’intéresse également à ce qui, dans vos conditions de vie et de travail, peut favoriser l’émergence de troubles.</p>
						<p>Il effectue ensuite un examen physique et peut, autant que de besoin, solliciter des examens complémentaires, radiologiques notamment.</p>
						<p>Sur cette base, le chiropracteur définit son plan de traitement et vous indique le nombre de consultations qu’il juge nécessaire à l’amélioration de votre état.</p>

					<li>Corriger :</li>

						<p>Le chiropracteur intervient manuellement et réalise des actes de manipulation de la colonne vertébrale et des articulations (dits ajustements chiropratiques).</p>
						<p>Le chiropracteur intervient également sur les tissus mous (muscles, tendons et ligaments).</p>
						<p>Il peut aussi avoir recours à des tables et appareils spécialisés.</p>

					<li>Prévenir :</li>

						<p>Le chiropracteur peut également vous donner des conseils en termes de postures, de nutrition ou d’hygiène de vie de nature à renforcer l’efficacité du traitement.</p>
					<li>Ressent-on des effets secondaires ?</li>

					<p>La majorité des patients ressentent un soulagement immédiat à l’issue du traitement. Toutefois, il peut arriver que certains ressentent des courbatures ou une douleur légère, semblables à celles ressenties après un entraînement sportif. 10 % des patients témoignent de maux de tête post-manipulation. Ces réactions bénignes disparaissent spontanément en 24 à 48 heures.</p>

				</ul>
				
				<h3 class="SousParties"><a name="Tarifs">Tarifs</a></h3>

				<p>Les tarifs pour une consultation à domicile sont les suivants :</p>

				<p>1ère consultation (environ 45 - 60 minutes) : 60 euros</p>

				<p>Suivi de consultation (environ 30 - 40 minutes) : 50 euros</p>

				<h3 class="SousParties"><a name="Mutuelles_remboursant_les_soins">Mutuelles remboursant les soins</a></h3>

				<p>Trouver une compagnie qui rembourse les soins chiropratiques</p>

				<p>Plus de 360 compagnies proposent à leurs clients des contrats intégrant la prise en charge totale ou partielle des soins chiropratiques. En fonction des contrats, les remboursements s’étalonnent de 15€ par séance pour deux consultations annuelles à près de 100% des honoraires avec un montant maximal sur l’année.</p>

				<p>Le remboursement des soins chiropratiques pour les patients ne s’opèrent qu’en fonction des termes du contrat signé, entre le patient et sa complémentaire santé (mutuelle) concernée. Le chiropracteur n’intervient en rien dans la signature de ces contrats.</p>

				<p>Vous pouvez visualiser la liste des mutuelles acceptant un remboursement sur le site de l’Association Française en Chiropraxie :</p>

				<p><a href="http://www.chiropraxie.com/mutuelles/">http://www.chiropraxie.com/mutuelles/</a></p>

			</div>			

		</div>

	</main>

	<footer>
    	<div class="container">
      		<div class="row">
        		<div class="col-lg-3">
          			<h5>Alexandre Chassagne</h5>
          			<p></p> 
          		</div>
          		<div class="col-lg-5">
		          <h5 class="Liens">Liens</h5>
		          <ul class="listeliens">
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Histoire et définition</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance légale en France</a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>Reconnaissance dans le monde </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La formation en chiropraxie </a></li>
		            <li class="listecate"><a href=""><i class="chevron fa fa-chevron-right" aria-hidden="true"></i>La recherche en chiropraxie</a></li>		       
		          </ul>
		        </div>
		        <div class="col-lg-4">
		        	<h5 class="Contact">Contact</h5>		        	
		        	<p class="ContactFooter"><i class="telephone fas fa-phone" data-fa-transform="flip-v flip-h" ></i>07 68 48 10 02</p>
		        	<p><i class="chevron fab fa-facebook fa-spin"></i>Le Chiro qui roule</p>
		        	<p><i class="chevron fab fa-instagram fa-spin"></i>Lechiroquiroule</p>
		          	<h5 class="RDV">RDV</h5>
		          	<div class="RDVButton">
		          		<a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Prendre rendez-vous</a>
		          	</div>
		          	<p class="RDVtxt">N'hésitez pas à prendre rendez-vous dès maintenant.</p>
		          
		      </div>
        	</div>
        	
	    </div>

  </footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>